<h1>Verificar siempre que la libreria que estemos instalando, sea compatible con la version de Angular que estemos utilizando</h1>

<h1>Tambien los ejemplos hay que buscarlos en base a la version de la libreria que estemos utilizando</h1>
<hr>

<h4>https://valor-software.com/ngx-bootstrap/old/9.0.0/#/components/datepicker?tab=overview</h4>

<button type="button" class="btn btn-primary"
          tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Simple demo cesar
</button>

<div class="row">
  <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
    <input type="text"
            placeholder="Datepicker"
            class="form-control"
            bsDatepicker>
  </div>
  <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
    <input type="text"
            placeholder="Daterangepicker"
            class="form-control"
            bsDaterangepicker>
  </div>
</div>
